nav, main, footer {
	@include outer-container;
	@media screen and ($largish) {
		max-width: 940px;
	}	
}
nav {
	@include three-in-a-row;
}
header {
	@include fill-parent();
	height: 10em;
	position: relative;
	h1 {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
}
main > section {
	@include padding-sm;
	&.intro {
		@include clearfix;
		margin-bottom: 1.5em;		
		img { 
			@include span-columns(2); 
			@media screen and ($mediumish) {
				@include span-columns(1 of 10);
			}	
		}
		p {
			@include span-columns(10);
			@media screen and ($mediumish) {
				@include span-columns(9 of 10);
			}				
		}
		@media screen and ($mediumish) {
			@include span-columns(10);
		}		
	}
	&.features {
		@include clearfix;
		position: relative;
		ul { 
			@include fill-parent();
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			@media screen and ($mediumish) {
				flex-direction: row;
			}
			li {
				@include fill-parent();
				@include padding-sm;
				display: inline-block;
				margin-bottom: 1em;
				&:last-child {
					margin-bottom: 0;
				}
				@media screen and ($mediumish) {
					@include span-columns(4);
					@include padding-md;
					margin-bottom: 0;
			    }	    
			}
		}
		img {
			@include span-columns(8);
			@include shift(2);
			@include clearfix;
			padding-top: 1em;
			padding-bottom: 0.5em;
		}
	}
	&.call-to-action {
		div {
			@include fill-parent();
			@include padding-sm;
			text-align: center;
			span {
				line-height: 3em;
			}
			@media screen and (min-width: 600px) {
				@include span-columns(4);
				@include shift(4);				
			}		
		}
	}	
}
footer {
	.sign-up, > p {
		@include padding-sm;
		@media screen and ($mediumish) {
			@include span-columns(10);
		}
	}
	@include three-in-a-row;
}