// Centering
@mixin center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-h {
	margin-left: auto;
	margin-right: auto;
}

// Padding
@mixin padding-sm {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
@mixin padding-md {
	padding-left: 0.75em;
	padding-right: 0.75em;
}


@mixin three-in-a-row {
	ul {
		@include clearfix;
		padding: 0;
		text-align: center;
		li {
			@include span-columns(4);
		}
	}
}