// Breakpoints
$smallish: 'min-width: 320px';
$mediumish: 'min-width: 500px';
$largish: 'min-width: 940px';

// Colors
$black: #000;
$white: #fff;
$blue: #0000FF;
$aqua: #00FFFF;

// Font-faces
$serif-font: 'PT Mono', 'Courier New', Times, 'Times New Roman', serif;
// $serif-font: Arial, 'Times New Roman', serif;

// Border
$border: black 4px solid;