// Breakpoints
$smallish: 'min-width: 320px';
$mediumish: 'min-width: 768px';
$largish: 'min-width: 1200px';

// Colors
$black: #000;
$white: #fff;
$font-color: #232323;
$link-color: #1d5192;
$hover-link-color: #6095D7;
$background-color: #ececec;

// Font-faces
$serif-font: 'PT Mono', 'Courier New', Times, 'Times New Roman', serif;
// $serif-font: Times, 'Times New Roman', serif;